@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: url("/assets/dist/images/bg-pattern-paper-2x.png");
  background-repeat: repeat;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.active-character-button {
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: -1;
  background-image: url("/assets/dist/images/bg-character-tile-2x-active.png") !important;
}

.character-button {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  height: 146px;
  position: relative;
  width: 150px;
  z-index: 20;
  background-size: cover;
  background-image: url("/assets/dist/images/bg-character-tile-2x-inactive.png");
}
.character-button:hover:before {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.character-button::before {
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: -1;
  background-image: url("/assets/dist/images/bg-character-tile-2x-active.png");
}

.sky-stars-bg {
  background-image: url("/assets/dist/images/bg-pattern-sky-reversed-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#mobile-menu {
  background-image: url("/assets/dist/images/bg-pattern-sky-reversed-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#mobile-menu::after {
  background-image: url("/assets/dist/images/bg-pattern-sky-clouds-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 600px;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  opacity: 0.5;
  animation: moveRight 35s linear infinite;
  z-index: -1;
}

#mobile-menu::before {
  background-image: url("/assets/dist/images/bg-pattern-sky-clouds-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% -750px;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  transform: rotate(180deg);
  inset: 0;
  position: absolute;
  opacity: 0.5;
  animation: moveLeft 25s linear infinite;
  z-index: -1;
}

@keyframes moveRight {
  0% {
    background-position: 0% 600px;
  }
  100% {
    background-position: 100% 600px;
  }
}

@keyframes moveLeft {
  0% {
    background-position: 0% -750px;
  }
  100% {
    background-position: 100% -750px;
  }
}

@media (max-width: 768px) {
  .floating-clouds {
    background-image: url("/assets/dist/images/bg-pattern-sky-reversed-xs.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  .floating-clouds::after {
    background-image: url("/assets/dist/images/bg-pattern-sky-clouds-xs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 850px;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    inset: 0;
    position: absolute;
    opacity: 0.5;
    animation: moveRightMain 35s linear infinite;
    z-index: -1;
  }

  .floating-clouds::before {
    background-image: url("/assets/dist/images/bg-pattern-sky-clouds-xs.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% -1200px;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    transform: rotate(180deg);
    inset: 0;
    position: absolute;
    opacity: 0.5;
    animation: moveLeftMain 25s linear infinite;
    z-index: -1;
  }

  @keyframes moveRightMain {
    0% {
      background-position: 0% 850px;
    }
    100% {
      background-position: 100% 850px;
    }
  }

  @keyframes moveLeftMain {
    0% {
      background-position: 0% -1200px;
    }
    100% {
      background-position: 100% -1200px;
    }
  }
}
.floating-clouds {
  background-image: url("/assets/dist/images/bg-pattern-sky-reversed-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.floating-clouds::after {
  background-image: url("/assets/dist/images/bg-pattern-sky-clouds-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  opacity: 0.5;
  animation-name: moveRightMain1;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

.floating-clouds::before {
  background-image: url("/assets/dist/images/bg-pattern-sky-clouds-xs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  inset: 0;
  position: absolute;
  opacity: 0.25;
  animation: moveRightMain1 35s linear infinite;
  z-index: -1;
}

@keyframes moveRightMain1 {
  0% {
    background-position: 0% 90vh;
  }
  100% {
    background-position: 100% 95vh;
  }
}

@keyframes moveLeftMain1 {
  0% {
    background-position: 0% -1200px;
  }
  100% {
    background-position: 100% -1200px;
  }
}

.list-inline-item {
  width: fit-content;
  border: 1px solid rgb(102, 162, 226);
  padding: 1rem;
}

.list-inline-item svg {
  height: 3rem;
  stroke: none;
  fill: rgb(102, 162, 226);
  width: 5rem;
}

@media (max-width: 768px) {
  .list-inline-item svg {
    height: 2rem;
    stroke: none;
    fill: rgb(102, 162, 226);
    width: 3rem;
  }
}

.l-footer-bottom {
  color: wheat;
}

.l-footer-bottom::after {
  content: "";
  background-image: url("https://seaofstarsgame.co/assets/dist/images/bg-footer-water-center-md-2x.png");
  background-size: 1280px 194px;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: 0;
}
